
.country-weather__container {
    width: 22rem;
    height: 25rem;
    padding: 3rem 1rem;
    background-color: rgb(195, 223, 235);
    border-radius: 3px;
    
}

.country-weather__container h4 {
    font-size: 25px;
    color: var(--secondary);
    margin-top: 1rem;
}

.country-weather__container p {
    font-size: 18px;
}

.weather-icon {
    width: 19%;
}

@media screen and (max-width: 500px) {

    .country-weather__container {
        width: 20rem;
        height: 23rem;
        
    }
    .country-weather__container h4 {
        font-size: 20px;
        
    }

    .country-weather__container p {
        font-size: 14px;
    }
}
