.footer-container {
    background: slategray;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-left__links,
.footer-right__links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

}


.footer-link a {
    text-decoration: none;
    color: white;
    opacity: .9;
    margin-left: .6rem;

}

.logo {
    width: 10%;
}